@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gamja Flower', sans-serif;
    border: 1px solid gray;
    border-radius: 20px;
    width: 500px;
    height: 800px;
    background-color: rgb(243, 247, 126);
}